.form__input-line_discont {
	float: right;
	/* calc- функция для высчитывания чего-либо в css. 
	Чтоб нам правильно посчитать ширину инпута, 
	который будет занимать всю ширину, нам надо 
	из 100% вычесть ширину чекбокса квадратного (он 40px) и 
	прибавить отступ до инпута (16px)*/
	min-width: calc(100% - 56px);
	margin-top: 3px;
}